@{
    ViewData["Title"] = "Map";
}
<h6></h6>
<link rel="stylesheet" type="text/css" href="~/css/game.css" />

<img src="~/images/allelements/blinky.png" width="128" height="128" id="blinky" hidden="hidden">
<img src="~/images/allelements/clyde.png" width="128" height="128" id="clyde" hidden="hidden">
<img src="~/images/allelements/inky.png" width="128" height="128" id="inky" hidden="hidden">
<img src="~/images/allelements/pinky.png" width="128" height="128" id="pinky" hidden="hidden">
<img src="~/images/allelements/pacman.png" width="128" height="128" id="pacman" hidden="hidden">
<img src="~/images/allelements/cherry.png" width="128" height="128" id="cherry" hidden="hidden">
<img src="~/images/allelements/energaizer.png" width="128" height="128" id="energaizer" hidden="hidden">
<img src="~/images/allelements/littlegoal.png" width="128" height="128" id="littlegoal" hidden="hidden">

<div id="all">
    <div>
        <div>
            <div id="information">
                <h4>Score: </h4>
                <h4 id="score">0</h4>
            </div>
            <div id="information">
                <h4>Live: </h4>
                <h4 id="live">3</h4>
            </div>
        </div>
    </div>
    <div id="game">
        <canvas id="map" height="589" width="570"></canvas>
    </div>
    <div id="buttons">
        <form>
            <input type="submit" id="start" value="Start" />
        </form>
        <form>
            <input type="submit" id="stop" value="Stop" />
        </form>
    </div>
</div>
<script src="~/js/map.js"></script>
<script src="~/js/initmap.js"></script>
<script src="~/lib/signalr.min.js"></script>
<script src="~/js/movement.js"></script>
<script src="~/js/updatemap.js"></script>
