
PacmanDemo/bin/

PacmanDemo/obj/

Pacman/bin/

Pacman/obj/

\.vs/

PacmanWeb/bin/

PacmanWeb/obj/

PacMan\.Tests/obj/

PacMan\.Tests/bin/

PacmanWeb/node_modules/

PacmanWeb/Properties/PublishProfiles/
