#game {
    position:relative;
    margin:auto;
    left:10%;
}

#buttons {
    position:relative;
    font-size:30px;
    margin:auto;
    padding:30px;
    left:10%;
}
input{
    margin:10px;
}
h4{   
    display:inline-block;
}
div {
    display: inline-block;
}

