
@{
    ViewData["Title"] = "Game";
}

<h2>Choose your map</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            <a asp-area="" asp-controller="Game" asp-action="BlueMap">
                <img src="~/images/maps/bluemap.png" width="260" height="270" />
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Game" asp-action="RedMap">
                <img src="~/images/maps/redmap.png" width="476" height="270" />
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Game" asp-action="GreenMap">
                <img src="~/images/maps/greenmap.png" width="260" height="270" />
            </a>
        </li>
    </ul>
</div>
